p{ color: red;
font-size: 22pt;}

p#gruby_Stormowski{color: green;
    font-size: 17pt;
    font-weight: bold
}

#dlawszystkich_Stormowski{color: yellow;
    font-size: 10pt;
    font-family: Arial,;
}